---
import ServiceCard from '@components/astro/service-card.astro'
import { SERVICES } from '@/src/constants'
---

<section class='padding paddin-x py-10'>
  <section class='max-container flex justify-center flex-wrap gap-9'>
    {
      SERVICES.map(({ icon, label, subtext }) => (
        <ServiceCard  label={label} subtext={subtext} icon={icon} />
      ))
    }
  </section>
</section>
